<!-- login -->
  <div class="loginArera">
     <div class="container">
        <h2 class="text-center">Create your account</h2>
        <div class="blueline"></div>
        <br />
        <div class="row">
          <div class="col-md-offset-2 col-md-7 col-md-offset-3">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => 'form-horizontal'}) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">First Name:</label>
                    <div class="col-sm-8">
                      <%= f.text_field :first_name, autofocus: true,:class=>"form-control",:placeholder=>"First Name",:required=>true %>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Last Name:</label>
                    <div class="col-sm-8">
                      <%= f.text_field :last_name, autofocus: true,:class=>"form-control",:placeholder=>"Last Name",:required=>true %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Email Address:</label>
                    <div class="col-sm-8">
                      <%= f.email_field :email,:class=>"form-control",:placeholder=>"Email Address ...",:required=>true %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Password:</label>
                    <div class="col-sm-8">
                      <%= f.password_field :password,:class=>"form-control",:placeholder=>"Password",:required=>true %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm Password:</label>
                    <div class="col-sm-8">
                      <%= f.password_field :password_confirmation,:class=>"form-control",:placeholder=>"Confirm Password",:required=>true %>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="pull-right">
                      <p><%= f.submit "SIGN UP",:class=>"btn loginBtn" %></p>
                    </div>
                  </div>

                <% end %>
           </div>
        </div>
     </div>
  </div>
<!-- login -->
