<!DOCTYPE html>
<html>
  <head>
    <title>Imageportal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <!-- Header -->
	  

	  <div class="navbar navbar-default navbar-static-top mynav">
         <div class="container">
            <div class="navbar-header">
               <div class="navbar-brand"><%= link_to "uiarchive",root_path %></div>
               <button class="navbar-toggle" data-toggle="collapse" data-target=".btnCollapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <div class="collapse navbar-collapse btnCollapse">
               <ul class="nav navbar-nav">
                  <li class="dropdown ">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Landing Page</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Onboarding</a></li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
               		<% if user_signed_in? %>
                    <li><%= link_to 'Create Item', new_item_path %></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
               		<% else %>
	                  <li><%= link_to "Login", new_user_session_path %></li>
                  	<li><%= link_to "Signup", new_user_registration_path %></li>
                  <% end %>
               </ul>
               <form class="navbar-form navbar-right" role="search">
                  <div id="imaginary_container" class="wow fadeInDown">
                     <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search All" >
                        <span class="input-group-addon">
                        <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>  
                        </span>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <!-- end container -->
    </div>
	  <!-- Header -->
	  
		<%= yield %>

		<div class="copyrights wow fadeInDown">
      <div class="text-center">
          <p>All Rights Reserved | Copyright 2017 © uiarchive</p>
      </div>
    </div>

	  <script type="text/javascript">
	     new WOW().init();	
	  </script>   
  </body>
</html>
